body{
  font-family:'Courier New', Courier, monospace;
  margin:0;
  color: #333;
}
nav ul{
  list-style: none;
  padding: 0;
  text-align:center;
  margin:0;
}
nav ul li{
  display: inline;
  margin:0 15px;
}
nav a{
  color:green;
  text-decoration: none;
}
section{
  padding: 60px 20px;
  border-bottom:1px solid #eee;
  
}
.container {
  max-width: 900px;
  margin:0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  
  
}
footer{
  background:#333;
  color:#fff;
  text-align: center;
  padding:20px;
}

#hero {
  background-color:#dad7cd;
}

#about {
  background-color:#a3b18a;
  
}
#projects {
   background-color:#588157;
}
#skills{
  background-color:#3a5a40;
}
#contact-page{
  background-color: #344e41;
}

li{
  list-style: none;
}
button{
  border-radius:5px;
  color: grey;
  background-color: white;
  border-color: white;
}
button:hover{
  transform: scale(1.5);
}
